/* FONTS & COLORS ---------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Actor&display=swap"); /* GENERAL --------------------------------------------------------- */

:root {
  --dark-text: #110f61;
  --medium-text: #333670;
  --light-text: #ffffff;

  --main-background: #c3d3e5;
  --light-background: #e2e7f4;
  --dark-background: #686ba6;
  --medium-background: #707eaf;

  --button-background: #acb9da;
  --button-border: #333670;

  --header-background: #686ba6;

  --main-font: "Actor", Verdana, sans-serif;
  --fancy-font: "Aclonica", Verdana, sans-serif;
}

/* GENERAL ---------------------------------------------------------- */
body {
  font-family: var(--main-font);
  background: var(--main-background);
  margin: 0;
}

.App {
  width: 300px;
  height: 360px;
  margin: 0;
  background: var(--main-background);
  border: 3px solid var(--medium-background);
  color: var(--dark-text);
}

.innerContainer {
  text-align: center;
}

.imageContainer {
  background-image: url("https://res.cloudinary.com/dbl7owtdh/image/upload/v1652912211/Forget%20Me%20Not/favpng_euclidean-vector-painting-flower-blue_x6smfw.png");
  background-position-y: 25%;
  background-size: cover;
  bottom: 20px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

/* HEADER ---------------------------------------------------------- */
header {
  padding: 0;
  margin: 0;
  font-family: var(--fancy-font);
  color: var(--dark-text);
  width: 100%;
  height: 70px;
  background: var(--dark-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: var(--fancy-font);
  font-size: 18px;
  text-align: center;
}

button {
  font-family: var(--main-font);
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  padding: 5px 8px;
  background: var(--button-background);
  border: 1px solid var(--button-border);
}

/* ADD BUTTON ---------------------------------------------------------- */
.addBtn {
  padding: 10px 20px;
  width: 160px;
  height: 55px;
  background: var(--light-background);
  border: 1px solid var(--dark-background);
  color: var(--dark-text);
  margin: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addBtn:hover {
  background: #c6c7dd;
}

.addBtn:active {
  background: #a6a7c7;
}

/* LINK ---------------------------------------------------------- */
a {
  display: block;
  font-family: var(--main-font);
  color: var(--dark-text);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  margin-top: 1em;
  text-decoration: none;
  /* text-decoration-line: underline;
  text-underline-offset: 5px; */
}

/* AUTH/LOGIN ------------------------------------------------------------ */
.authFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 1em; */
  background-image: url("https://res.cloudinary.com/dbl7owtdh/image/upload/v1652912211/Forget%20Me%20Not/favpng_euclidean-vector-painting-flower-blue_x6smfw.png");
  /* background-position: center; */
  background-position-y: 25%;
  background-size: cover;
}

.authForm {
  /* background-color: var(--medium-background); */
  background: var(--light-background);
  color: var(--dark-text);
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 5px;
  padding: 1em;
  padding-top: 2em;
  border: 2px solid var(--dark-background);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formRow {
  display: flex;
  flex-direction: column;
}

.formRow label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

.formRow input {
  padding: 0.5em;
  margin-bottom: 8px;
  border: none;
  border-radius: 10px;
  background: white;
  font-size: 14px;
}

.errorMessage {
  color: tomato;
  font-style: italic;
  font-weight: normal;
  font-size: smaller;
  text-align: center;
}

.formButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formButtonDiv button {
  font-weight: bold;
}

.submitBtn {
  padding: 5px 15px;
}
