/* FONTS & COLORS ---------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400&family=Poppins&display=swap");

/* GENERAL --------------------------------------------------------- */
body {
  margin: 0;
  font-family: "Jost", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Jost", sans-serif;
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
  font-size: 0.8rem;
  border: none;
  background-color: rgb(188, 225, 223);
}

.popupContainer {
  width: 200px;
  margin: 5px;
}
